@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap');

html {
  font-family: 'Quicksand', sans-serif ;
}

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: whitesmoke;
  }
::-webkit-scrollbar-thumb {
    background-color: rgb(214, 214, 214);
    border-radius: 10px;
    -webkit-box-shadow: rgba(0,0,0,.12) 0 3px 13px 1px;
  }
  