@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap');

html {
  font-family: 'Quicksand', sans-serif ;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(171, 0, 194, 0.247);
  }
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(45deg, #7e05a3, #b81af7);
    border-radius: 10px;
    -webkit-box-shadow: rgba(0,0,0,.12) 0 3px 13px 1px;
  }
  