.DashboardBody {   
    min-height: 100vh;
    background-color: rgb(157, 55, 252);
    font-family: 'Quicksand', sans-serif ;
    overflow-x: hidden ;

    section {
        background-color: rgba(191, 30, 255, 0.486);
        box-shadow: 0px 5px 6px rgba(32, 32, 32, 0.534);
        display: inline-flex;
        text-align: center;
        margin: 35px 15px 15px 15px;
        padding: 10px;
        max-width: 345px;
        border-radius: 10px;
        color: rgb(31, 1, 37);
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 72vh;
        scrollbar-color:rgba(148, 78, 161, 0.432) #c2d2e400;
        scrollbar-width: 2px;

        h2 {
            color: white;
            font-family: 'Quicksand', sans-serif ;
            text-align: center ;
            width: 100% ;
        }
    }

    footer {
        position: fixed;
        bottom: 15px;
        right: 15px;
    }
}

