
.DashboardBody {
    
    background-color: blueviolet;
    
    section {
        display: inline-flex;
        border: 1px solid rgb(31, 31, 31);
        text-align: center;
        box-shadow: 1px 2px 1px rgb(54, 54, 54);
        margin: 35px 15px;
        padding: 15px;
        max-width: 345px;
        border-radius: 10px;
        background-color: rgba(247, 154, 255, 0.315);
        color: rgb(60, 3, 114);

        h2 {
            width: 100% !important;
            text-align: center !important;
            font-family: 'Quicksand', sans-serif !important;

        }
    }

    footer {
        position: fixed;
        bottom: 15px;
        right: 15px;
    }
}

@media screen and (min-height: 600px) {
    .DashboardBody {
        min-height: 700px;
    }
}

@media screen and (min-height: 700px) {
    .DashboardBody {
        min-height: 700px;
    }
}
@media screen and (min-height: 720px) {
        .DashboardBody {
            min-height: 720px;
        }
}

@media screen and (min-height: 760px) {
    .DashboardBody {
        min-height: 900px;
    }
}

@media screen and (min-height: 900px) {
    .DashboardBody {
        min-height: 1000px;
    }
}
