.AuthPages {
    background-color: whitesmoke;
    height: 100vh; 
    overflow-y: hidden;
}
.FormContainer {
    h1 {
        text-align: center;
        font-size: 45px;
        color: #444444;
        font-family: 'Quicksand', sans-serif !important;
    }
    button{
        margin: 0 auto;
        padding: 11px 21px;
        display: flex;
        color: white;
        font-size: 18px;
        border: 0px;
        border-radius: 5px;
        background-color: rgb(154, 46, 255);
        transition: 0.5s;
    }
    button:hover{
        cursor: pointer;
        background-color: rgb(125, 38, 206);

    }
    .inputContainer {
        border: 0px;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        margin: 10px auto;
        padding: 5px 5px 5px 10px;
        width: 320px;
        input {
            border: 0px;
            background-color: transparent;
            padding: 10px;
            width: 90%;
        }
        input:focus {
            outline: none;
        }
        
    }
}
