.Calendar {
    .plus {
        text-align: right !important;
        color: rgb(99, 27, 158);
        padding: 5px 15px 10px 10px !important;
    }
    .Form {
        margin: 10px auto !important;
        padding: 25px;
    }
    ul {
        list-style: none;
        padding: 0 5px;
        text-align:  left !important;
    }
}