.Weather {

    form {
        border: 0px;
        margin: 15px 15px;
    }
    .WeatherBox {
        border-radius: 10px;
        background-color: rgba(65, 65, 65, 0.418);
        display: inline-block !important;
        position: relative !important;
        margin: 0 20px;
        ul {
            margin: 0 !important;
            padding: 5px 10px 5px 10px !important;
            li {
                display: inline-block;
                vertical-align: middle;
                padding: 2px;
                img {
                    height: 45px;
                    width: 45px;
                }
            }
        }
        i {
            position: absolute !important;
            margin-top: 3px;
            top: 0 !important;
            right:0 !important ; 
            opacity: 40%;
        }
        i:hover {
            opacity: 100%;
            color: rgba(223, 65, 65, 0.534) !important;
        }
    }
}