.Weather {
    form {
        border: 0px;
        border-radius: 10px;
        padding: 5px;
    }
    .WeatherBox {
        border-radius: 10px;
        background-color: rgba(65, 65, 65, 0.418);
        display: inline-block !important;
        ul {
            padding: 2px 10px !important;
            li {
                display: inline-block;
                vertical-align: middle;
                padding: 2px;
                img {
                    height: 45px;
                    width: 45px;
                }
            }
        }
    }
}