.Weather {

    form {
        border: 0px;
        margin: 15px 15px;
    }
    .WeatherBox {
        border-radius: 10px;
        background-color: rgba(37, 37, 37, 0.212);
        display: inline-block ;
        position: relative ;
        box-shadow: 0px 3px 6px rgba(32, 32, 32, 0.534);
        margin: 0 20px;
        ul {
            margin: 0 !important;
            padding: 5px 10px 5px 10px !important;
            li {
                display: inline-block;
                vertical-align: middle;
                padding: 2px;
                img {
                    height: 45px;
                    width: 45px;
                }
            }
        }
        i {
            position: absolute;
            top: 2px;
            right: 2px;
            opacity: 30%;
        }
        i:hover {
            opacity: 100%;
            color: rgba(223, 65, 65, 0.534) ;
        }
    }
}