header {
    
    .Quotes {
        margin: 0 auto !important;
        font-family: 'Quicksand', sans-serif !important;
    }
    .Logo {
        height: 65px !important;
        width: 110px !important;
    }

    background-image: linear-gradient(-225deg, #f9c8ff70 0%, #d45ff865 53%, #a722ff71 100%);
    vertical-align: baseline !important;
    width: 100%;
    display: -webkit-inline-flex  !important;
    padding: 20px;
    height: 103px;
    color: white !important;

}