
.Home {
    color: whitesmoke;
    font-family: 'Quicksand', sans-serif !important;
    nav {
        background-color: transparent !important;
        .ui.menu .item:before {
          background: transparent; 
        }
        .Logo {
            height: 120px !important;
            width: 175px !important;
        }
    }
    .Sec1 {
        margin-top: 55px !important;
        text-align: left;
        h1 {
            font-size: 40px;
            text-shadow: 1px 2px 1px rgba(14, 14, 14, 0.678);
        }
        h2{
            font-size: 25px;
        }
    }
    .Sec2 {
        margin-top: 35px;
        text-align: center;
        h1 {
            font-size: 40px;
            text-shadow: 1px 2px 1px rgba(14, 14, 14, 0.678);
        }
        h2{
            font-size: 25px;
            text-align: center;
        }
        ul {
            list-style: none;
            li {
                font-size: 22px !important;
                margin: 10px auto;
                text-align: inherit;
                text-shadow: 1px 2px 1px rgb(0, 0, 0);
            }
        }
    }
}

