$textColor: #444444;

.Home {
    color: $textColor;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
    background-color: whitesmoke;

    h1 {
        color: rgb(31, 31, 31);
    }

    .btn {
        margin: 0 5px;
        padding: 11px 21px;
        display: flex;
        color: white;
        font-size: 18px;
        border: 0px;
        border-radius: 5px;
        background-color: rgb(154, 46, 255);
        transition: 0.5s;
        border: 2px solid rgb(154, 46, 255);
    }
    .btn-outline {
        background-color: transparent;
        color: rgb(154, 46, 255);
    }

    .btn:hover {
        cursor: pointer;
        background-color: rgb(125, 38, 206);
        color: white;
    }

    .HomeNav {
        background-color: transparent;

        .ui.menu .item:before {
            background: transparent;
        }

        .Logo {
            height: 100px;
            width: 175px !important;
        }
    }

    .text-area {
        background-color: rgba(170, 82, 252, 0.486);
        border-radius: 5px;
    }

    .Sec1 {
        margin-top: 55px;
        
        h1 {
            font-size: 40px;
        }

        h2 {
            font-size: 25px;
            
        }
    }

    .Sec2 {
        margin-top: 35px;
        text-align: center;

        h1 {
            font-size: 40px;
        }

        h2 {
            font-size: 25px;
            text-align: center;
        }

        ul {
            list-style: none;

            li {
                font-size: 22px !important;
                margin: 10px auto;
                text-align: inherit;
            }
        }
    }

    .footer {
        h5 {
            color: $textColor;
        }

        h5:hover {
            text-decoration: underline;
        }
    }
}